.column {
    width: 100%;
    margin-right: 25px;
}

.column:first-child {
    margin-left: 25px;
}

.column h4 {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
